@font-face {
  font-family: 'TT Norms Regular';
  font-style: normal;
  font-weight: 400;
  src: url(/asset/fonts/TTNorms-Regular.woff) format('woff');
  }

@font-face {
  font-family: 'TT Norms Medium';
  font-style: normal;
  font-weight: 500;
  src: url(/asset/fonts/TTNorms-Medium.woff) format('woff');
  }

body {
  font-family: 'TT Norms Regular';
  background-color: #fff;
  color: #21242e;
}

h3 {
  font-family: 'TT Norms Medium';
  font-size: 20px;
  margin: 32px 0;
}
/* 
h4 {
  padding-top: 40px;
} */

.section-outer {
  border-bottom: solid 1px #ebebeb;
}

.color-gold {
  color: #d0bc7a;
}

/* NAVIGATION */
.nav-link {
  font-family: 'TT Norms Medium';
  color: #000;
  font-style: 14px;
  letter-spacing: 4%;
}

.profile-navigation__list {
  display: flex;
}

.nav-item_last {
  margin-left: auto;
  margin-top: auto;
}


/* end of NAVIGATION */

/* PROFILE FORM */
.form-label {
  opacity: .4;
}

.form-control {
  background-color: #F7F7F7;
}

.form-title {
  font-size: 35px;
  margin: 32px 0 32px;
  text-transform: uppercase;
}
/* end of PROFILE FORM */

/* FOOTER */
.footer {
  background-color: #1b1a17;
  color: #fff;
}

.footer__list {
  list-style: none;
  padding: 0;
}

.footer__list-nav-link {
  display: flex;
  font-family: 'TT Norms Regular';
  padding: .25rem 0 .25rem;
  color: rgba(255, 255, 255, 0.8);
  align-items: center;
}

.footer__icon {
  margin-right: 8px; /* на desktop в шаблоне Figma отступ 7.5px */
}

.footer__contacts {
  border-bottom: solid 1px rgba(255, 255, 255, .16);
}

.footer-txt {
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  opacity: 40%;
  padding-top: 16px;
}

.footer__socials {
  flex-direction: column;
  /* padding-top: 40px; */
  /* padding-bottom: 16px; */
  border-bottom: solid 1px rgba(255, 255, 255, .16);
}

.made-by {
  padding-left: 8px;
}

.footer__disclaimer {
  padding-bottom: 64px;
}


/* end of FOOTER */